{% extends "base.html" %}
{% block title %}{{category_name}}{% endblock title %}
{% block header_name %}{{category_name}}{% endblock header_name %}
{% block option %}
    <table width="20%"><form action="" method="get">
        {{ filter.form.as_table }}
        <input type="submit" />
    </form></table>
{% endblock option%}
{% block content%}
    <a href="/ads/{{category}}/add">ADD</a>
    {% for obj in filter.qs %}
        <div class="ad">    <img src="{{ obj.pic.url }}" height="100"/>

            <a href="/ads/{{category}}/{{obj.id}}">{{ obj.producer }} {{ obj.model }}</a>
        .year-{{obj.year}}.{{obj.get_type_display}}.volume-
        {{obj.volume}}.power-{{obj.power}}.
            {{obj.get_drive_display}}{{obj.get_cylinders_display}}{% if obj.cylinders %}-cylinders {% endif %}
            .ads-count-{{obj.ads}}.min-price-{{obj.min}}
        </div>
    {% endfor %}
{% endblock content %}