<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{{category_name}}</title>
</head>
<body>
    <h1>{{category_name}}:</h1>
    {%for product in products%}
    <li>{{product}}<a href="/ads/{{product.5}}{{category}}/{{product.2}}">IN</a>{{product.2}}///{{product.5}}</li>
    {%endfor%}

    <form method = "POST" enctype="multipart/form-data" class="NewThread">
    {% csrf_token %}
    <table>
    {{filter_form}}
    </table>
    <input type="submit" value="confirm" class="confirm">
    </form>
---------------------------------------------------------
    <table width="20%"><form action="" method="get">
        {{ filter.form.as_table }}
        <input type="submit" />
    </form></table>
    {% for obj in filter.qs %}
        <li><a href="/ads/{{category}}/{{obj.id}}">{{ obj.producer }} {{ obj.model }}</a>
        .year-{{obj.year}}.{{obj.get_type_display}}.volume-
        {{obj.volume}}.power-{{obj.power}}.{{obj.get_drive_display}}.ads-count-{{obj.ads}}.min-price-{{obj.min}}
        </li>
    {% endfor %}
</body>
</html>