<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Qatalogue{% endblock title %}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
                <a class="header_name" href="/">Qatalogue:</a>
                <h2 class="header_subname">
    {% block header_name %}
    Welcome :8
    {% endblock header_name %}
                </h2>
                <div class="header">
    {% block header %}
                    <table class="header_map"><tr>
                        <th class="h_m_th"><a class="h_m_a" href="/ads/cars">Cars</a></th>
                        <th class="h_m_th"><a class="h_m_a" href="/ads/motorcycles">Motorcycles</a></th>
                        <th class="h_m_th"><a class="h_m_a" href="/ads/scooters">Scooters</a></th>
                        <th class="h_m_th"><a class="h_m_a" href="/dealers">Dealers</a></th>
                        <th class="h_m_th"><a class="h_m_a" href="/producers">Producers</a></th>
                        <th class="h_m_th"><a class="h_m_a" href="/about">About</a></th>
                    </tr></table>
                    <table class="exchange">
                        <tr><th>1 USD = {{cash_course.USD_in}} BYN</th></tr>
                        <tr><th>1 EUR = {{cash_course.EUR_in}} BYN</th></tr>
                    </table>
                    <table class="auth"><tr>
    {% if user.is_authenticated %}
                        <th>{{user.get_username}}:</th>
                        <th><a href="{% url 'logout'%}?next={{request.path}}" class="auth_a">Logout</a></th>
    {% else %}
                        <th><a href="{% url 'login'%}?next={{request.path}}" class="auth_a">Login</a></th>
                        <th><a href="/registration" class="auth_a">Register</a></th>
    {% endif %}
    {% endblock header %}
                    </tr></table>
                </div>
                <div class="search">
    <form action="{% url 'search' %}" method="get">

    <input name="mark" type="text" placeholder="Search: {{search_initial}}" class="search_form">
        <input type="submit" value="search" class="search_button">
    </form>
                </div>
                <div class="option">
    {% block option %}
    {% endblock option %}
                </div>
                <div class="content">
    {% block content %}
    {% endblock content %}
                </div>
                <div class="miniheader">
                <a class="miniheader_name" href="/">Qatalogue</a>
                    <h2 class="miniheader_subname">{{category_name}}</h2>
                </div>
</body>
</html>